.App {
  height: 100vh;
  width: 100vw;
  background-color: #ebf0f7;
}

.Flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Titulo {
  font-size: 30px;
  margin-bottom: 24px;
}